/* this is comment in language CSS */
/* 1.แต่งใคร ? (id, class, DOM) 2.แต่งอะไร ? */
@font-face {
    font-family: 'kanit';
    src: url('./Kanit/Kanit-Regular.ttf');
}

body {
    background-color: #ADB2D4;
    font-family: 'kanit';
}

.header {
    font-size: 30px;
    color: azure;
    font-weight: 800;
    padding: 10px;
    text-align: center;
    border: 1px rgb(0, 0, 0) solid;
    background-color: #4D55CC;
}

.container {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 20px;
}

.header-form {
    width: 140px;
}

.flex {
    display: flex;
}

.form-input {
    margin-bottom: 10px
}

input.form, textarea {
    border: 1px gainsboro soild;
    width: 100%;
}

.center {
    text-align: center;
}

.button {
    border: 0;
    width: 100%;
    height: 40px;
    background-color: #4D55CC;
    color: azure;
    font-weight: 400;
}

.button:hover {
    background-color: #003092;
}